@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

html,body {
  height: 100%;
}

body {
  color: var(--foreground);
  background-color: #171720;
  font-family: Arial, Helvetica, sans-serif;
}

.mainContainer{
  height: 100%;
}